
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.menu-toggle__icon {
  font-size: 30px;
  cursor: pointer;
  padding: 0px 15px;
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 1001;
}

.drawer-menu__container {
  height: 100%; 
  width: 0; 
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.87);
  overflow-x: hidden; 
  transition: width 0.3s ease; 
  padding-top: 154px;
  z-index: 1;
}

.drawer-menu__nav {
  width: 100%;
}

.drawer-menu__list {
  list-style-type: none;
  padding: 0;
}

.drawer-menu__item {
  padding: 15px;
  text-align: left;
}

.drawer-menu__item a {
  text-decoration: none;
  color: white;
  animation: title-pulse 2.5s infinite;
  font-size: 18px;
  display: block;



  background: linear-gradient(to right, #9ADC80, #7EC2A2, #5FA7C8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.drawer-menu__item a:hover {
  color: white;
  text-align: left; 

}

.drawer-menu__container--open {
  width: 350px; 
}

.content__wrapper {
  transition: margin-left 0.3s ease;
}

.drawer-menu__container--open + .content__wrapper {
  margin-left: 250px; 
}
.drawer-title{
 
    background: linear-gradient(to right, #9ADC80, #7EC2A2, #5FA7C8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    color: white;
    animation: title-pulse 2.5s infinite;
}