@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
html {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
ul,
p,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 22px;
}
h3{
  font-size: 29px;
}
h4{
  font-size: 24px;
}
.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0  auto;
}
body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


